.bg{
    background-image: url(Hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 130vh;

}

ul{
    list-style: none;
    display: inline-flex;
}

li{
    padding-right: 20px;

}

.header{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: white;
    font-size: 150px;
    padding-left: 30px;
    line-height: 1;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
    color: white;
    font-size: 30px;

}

.list{
    color: white;
    font-size: 10px;


}

.btn{
    color: black;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: white;
    margin-left: 30px;
    transition-duration: 3ms;
    border: none;
    margin-top: 40px;
    
}

.btn:hover{
    background-color: black;
    color: white;
}

.showcase{
    padding-left: 30px;
    background-color: rgb(161,0,46);
    height: 74vh;
}

.showcase h2{
    font-size: 80px;
    color: white;
    margin-bottom: 150px;
}

.card1{
    background-color: #b43358;
    padding-left: 30px;
    padding-bottom: 20px;
    width: 450px;
}

.card1 h3{
    font-size: 60px;
    padding-bottom: 100px;
    color: white;
}
.card1 p{
    font-size: 30px;
    color: #e9c2cd;
}

.card2{
    background-color: #c76682;
    padding-left: 30px;
    padding-bottom: 20px;
    width: 450px;
}
.card2 h3{
    font-size: 60px;
    padding-bottom: 100px;
    color: white;
}

.card2 p{
    font-size: 30px;
    color: #e9c2cd;
}

.card3{
    background-color: #d999ab;
    padding-left: 30px;
    padding-bottom: 20px;
    width: 450px;
}

.card3 h3{
    font-size: 60px;
    padding-bottom: 100px;
    color: white;
}
.card3 p{
    font-size: 30px;
    color: #e9c2cd;
}

.flex{
    display: flex;
    align-items: center;
}

.artists{
    background-color: rgb(121,128,148);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.artists img{
    display: block;
    margin-left: auto;
}